@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #4181E1;
    --color-stroke: #E2E8F0;
    --color-red: #FB5454;
    --color-black: #1C2434;
    --color-gray: #EFF4FB;
}

*{
    font-family: "Karla", sans-serif;
}

:root{
    --shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
    --violet:#540D6E;
    --grey: #D9D9D9;
    --hover: #6b02b7;
    --greyHover: #c5c5c5;
}
